@import 'myBreakpoints';
// Sizing- Desktop
$headerFooterHeight: 6.5em;
// Sizing- Mobile
$headFootHghtMobile: ($headerFooterHeight / 2);

$mainHeight: em(431);
// Colors
$headerColor: #078CFD;
$footerColor: #5EE270;