@import 'normalize';
@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';
@import 'myVariables';
@import 'myFunctions';
@import 'myFonts';

* {
    border: 1px solid blue;
}
body {
    @include media($gtiphoneP) {
        background-size: 100% 130%;
    }
    background: url('../img/flappy-background.png') center center / cover repeat-x fixed;
}
main {
    margin: auto 0;
    section {
        @include media($gtiphoneP) {
            h1 {
                font-size: $base-font-size * 7;
            }
            button {
                font-size: $base-font-size * 2;
            }
        }
        @include media($gtMobileMidPoint) {
            section {
                padding-top: 0;
            }
            h1 {
                font-size: $base-font-size * 5;
                margin-top: 0;
            }
            button {
                font-size: $base-font-size * 1.5;
            }
        }
        color: white;
        text-align: center;
        h1 {
            margin-top: 1.75em;
        }
    }
    #game, #over {
        display: none;
    }
    .title {
        font-family: comicBalloon;
    }
    .button-left {
        
    }
    .button-right {
        
    }
}