@import 'normalize';
@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';
@import 'myVariables';
@import 'myFunctions';
@import 'myFonts';

* {
    border: 1px solid blue;
}
body {
    @include media($mobileL) {
        background-size: 100% 130%;
    }
    @include media($tabletP) {
        h1 {
            font-size: $base-font-size * 9;
        }
    }
    background: url('../img/flappy-background.png') center center / cover repeat-x fixed;
}
main {
    margin: auto 0;
    section {
        // use the following lines for desktop
        // @include span-columns(8);
        // @include shift(2);
        margin-top: 7em;
        color: white;
        text-align: center;
    }
    #game, #over {
        display: none;
    }
    .title {
        font-family: comicBalloon;
    }
    .button-left {
    //     margin-right: 7em;
    }
    .button-right {
    //     margin-left: 3em;
    }
}